/* Startpage */

@font-face
{  
  font-family: 'Roboto Condensed';
  src: url('Roboto-Condensed.ttf');
}

html,
body,
ul {
  margin: 0;
  padding: 0;
}

body {
  background: #0c1c1f;
  height: 100%;
  width: 100%;
}

main {
  display: block;
  font-family: 'Roboto Condensed';
  src: url('Roboto-Condensed.ttf');
  /*left: 10%; */
  position: absolute;
  top: 30%;
  /* transform: translate(-50%, -50%); */
  width: 100%;
}

h1 {
  color: #6096bf;
  display: block;
  margin: 0 auto;
  text-align: left;
  width: 600px;
}

hr {
  border: 0;33334
  border-top: 0px solid #C5C5C5;
  opacity: .4;
  width: 600px;
}

ul {
  display: block;
  margin: 0 auto;
  width: 600px;
}

li {
  color: #ffbb6f;
  display: inline-block;
  font-size: 1.4em;
  line-height: 1.5;
  list-style: none;
  margin: 5px;
}

a {
  color: #c5c5c5;
  text-decoration: none;
  transition: .2s;
}

a:hover {
  color: #777777;
}
