/* Startpage */
html,
body,
ul {
  margin: 0;
  padding: 0;
}

body {
  background: #252a32;
  height: 100%;
  width: 100%;
}

main {
  display: block;
  font-family: 'Roboto Mono';
  /* left: 50%; */
  position: absolute;
  top: 30%;
  /* transform: translate(-50%, -50%); */
  width: 100%;
}

h1 {
  color: #876058;
  display: block;
  margin: 0 auto;
  text-align: left;
  width: 400px;
}

hr {
  border: 0;
  border-top: 1px solid #546780;
  opacity: .4;
  width: 400px;
}

ul {
  display: block;
  margin: 0 auto;
  width: 400px;
}

li {
  color: #546780;
  display: inline-block;
  font-size: 1.4em;
  line-height: 1.5;
  list-style: none;
  margin: 5px;
}

a {
  color: #bab7b5;
  text-decoration: none;
  transition: .2s;
}

a:hover {
  color: #777777;
}
