/* Startpage */

@font-face
{  
  font-family: 'Roboto Condensed';
  src: url('Roboto-Condensed.ttf');
}

html,
body,
ul {
  margin: 0;
  padding-left: 140px;
}

body {
  background: #ebebea;
  height: 100%;
  width: 100%;
}

main {
  display: block;
  font-family: 'Roboto Condensed';
  src: url('Roboto-Condensed.ttf');
  left: 0%; 
  position: absolute;
  top: 30%;
  /* transform: translate(-50%, -50%); */
  width: 100%;
}

h1 {
  color: #101010;
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 100px;
}

hr {
  border: 0;33334
  border-top: 9px solid #C5C5C5;
  opacity: .4;
  width: 100px;
}

ul {
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 400px;
}

li {
  color: #101010;
  display: inline-block;
  font-size: 1.4em;
  line-height: 1.5;
  list-style: none;
  margin: 5px;
}

a {
  color: #696969;
  text-decoration: none;
  transition: 0.5s;
}

a:hover {
  color: #979797;
}
