/* Startpage */
html,
body,
ul {
  margin: 0;
  padding-left: 140px;
}

body {
  /*background: #051519;*/
  background: #13191e;
  height: 100%;
  width: 100%;
}

main {
  display: block;
  font-family: 'Roboto Condensed';
  src: url('Roboto-Condensed.ttf');
  left: 0%; 
  position: absolute;
  top: 30%;
  /* transform: translate(-50%, -50%); */
  width: 100%;
}

h1 {
  color: #c3c3c3;
  display: block;
  margin: 0 auto;
  text-align: left;
  width: 100px;
  padding-right: 20px;
}

hr {
  border: 0;
  border-top: 1px solid #051519;
  opacity: .4;
  width: 100px;
}

ul {
  display: block;
  margin: 0 auto;
  width: 400px;
}

li {
  /*color: #233236;*/
  color: #a3a3a3;
  display: inline-block;
  font-size: 1.4em;
  line-height: 1.5;
  list-style: none;
  margin: 5px;
}

a {
  color: #c3c3c3;
  text-decoration: none;
  transition: 0.5s;
}

a:hover {
  color: #efefef;
}
