 @font-face
{
    font-family:'haxrcorp';
    src: url('haxrcorpttf.ttf');
}

@font-face
{
    font-family:'Zpix';
    src: url('Zpix.ttf');
}

input {
	font-family: haxrcorp, sans-serif;
	font-size:12px;
}

body{
	font-family: haxrcorp, sans-serif;
	font-size:15px;
	/*books*/
/*background-color:#1A1E21;*/
	/*xmas*/
/*background-color:#367761;*/
	/*black1*/
/*background-color:#1F2235;*/
	/*black2*/
/*background-color:#0E1B1A;*/
	/*black3*/
/*background-color:#0C1414;*/
	/*black4*/
/*background-color:#161f1e;*/
	/*black5*/
/*background-color:#111311;*/
	/*black6*/
/*background-color:#000000;*/
	/*black7*/
/*background-color:#23241d;*/
	/*blue1*/
/*background-color:#2E3C51;*/
	/*blue2*/
/*background-color:#04132C;*/
	/*blue3*/
/*background-color:#3C3E59;*/
	/*blue4*/
/*background-color:#3E3D3E;*/
	/*blue5*/
/*background-color:#172A3B;*/
	/*blue6*/
/*background-color:#2E4E59;*/
	/*blue7*/
/*background-color:#00001a;*/
	/*blue8*/
/*background-color:#1F2524;*/
	/*blue9*/
/*background-color:#15132c;*/
	/*blue10*/
/*background-color:#111c3e;*/
	/*brown1*/
/*background-color:#22231F;*/
	/*brown2*/
/*background-color:#100906;*/
	/*brown3*/
background-color:#242624;
	/*brown4*/
/*background-color:#242624;*/
	/*brown5*/
/*background-color:#242624;*/
	/*brown6*/
/*background-color:#2D221F;*/
	/*brown7*/
/*background-color:#242529;*/
	/*brown8*/
/*background-color:#2d2024;*/
	/*brown9*/
/*background-color:#341917;*/
	/*brown10*/
/*background-color:#1f1f1e;*/
	/*green1*/
/*background-color:#123138;*/
	/*green2*/
/*background-color:#0D282C;*/
	/*green3*/
/*background-color:#28381C;*/
	/*green4*/
/*background-color:#1E2C2B;*/
	/*green5*/
/*background-color:#212122;*/
	/*orange1*/
/*background-color:#061E26;*/
	/*orange2*/
/*background-color:#131209;*/
	/*orange3*/
/*background-color:#231A23;*/
	/*orange4*/
/*background-color:#1a2023;*/
	/*orange5*/
/*background-color:#122523;*/
	/*pink1*/
/*background-color:#030C1A;*/
	/*pink2*/
/*background-color:#0E1717;*/
	/*pink3*/
/*background-color:#0F071D;*/
	/*pink4*/
/*background-color:#0d0d1b;*/
	/*pink5*/
/*background-color:#060108;*/
	/*pink6*/
/*background-color:#151515;*/
	/*purple1*/
/*background-color:#1A1E37;*/
	/*purple2*/
/*background-color:#645963;*/
	/*yellow1*/
/*background-color:#0E1319;*/
	background-image: url("img/bg_tile.jpg");
	background-repeat: repeat;
}

.maincontainer {
	width:672px;
	height:319px;
	position: absolute;
	top: 0px;
	bottom:100px;
    left: 0px;
    right: 0px;
    margin: auto;
	background-color:transparent;
}

.main {
	border-style: solid;
	border-width: 2px;
	border-color: #000000;
	position: absolute;
	top: -2px;

    width: 536px;
	height: 300px;
    left: -2px;
    right: 190px;
    margin: auto;
	background-color:#FFFFFF;
	text-align:center;
}

.maincontents {
	width:100%;
	height:100%;
}

.button {
	width:12px;
	height:12px;
	float: left;
	margin-right:2px;
	border-style: solid;
	border-width: 2px;
	border-color: #000000;
	background-color:#FFFFFF;
}

.button:hover {
	background-color:#aaaaaa!important;
}

.searchbar {
	border-style: solid;
	border-width: 2px;
	border-color: #000000;
    width: auto;
	height: 12px;
	background-color:#FFFFFF;
	overflow: hidden;
}

.searchinput {
	line-height:13px;
	height:12px;
	top:-1px;
	position:relative;
	margin-left:1px;
	margin-right:1px;
	width:100%;
	border:none;
	font-family: haxrcorp, sans-serif;
	font-size:12px;
	padding-bottom: 0px;
	padding-top:0px;
	padding-left:2px;
	padding-right:2px;
	outline:none;
}

.searchinput:focus {
	outline:none;
	border:none;
}

.marqueebar {
	border-style: solid;
	border-width: 2px;
	border-color: #000000;
    width: 12px;
	height: 12px;
	line-height:12px;
	float:right;
	margin-left:2px;
	background-color:#FFFFFF;
	overflow:hidden;
}

.marquee2 {
  overflow:hidden;
  width: 12px;
  height: 100%;
  margin: 0;
  padding-left:2px;
  padding-right:2px;
  top:1px;
  line-height: 12px;
  position:absolute;
  text-align: center;
}

.bottomcontainer {
	width:540px;
	height:12px;
	position:absolute;
	left:-2px;
	top:305px;
}

.sidebar {
	border-style: solid;
	border-width: 2px;
	border-color: #000000;
	position: absolute;
	top: -2px;
	bottom:200px;
    width: 129px;
	height: 319px;
    left: 541px;
	background-color:#FFFFFF;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.time {
	color:#ffffff;
	font-family: haxrcorp, monospace;
	font-size:16px;
	position: absolute;
	top: -18px;
    width: auto;
	height: auto;
    left: 2px;
}

.welcome {
	line-height:28px;
	font-family: Zpix, serif;
	font-size:18px;
	position:absolute;
	top:80px;
	width:300px;
	left:0px;
	right:0px;
	margin-left:auto;
	margin-right:auto;
}

.bookmarkscontainer {
	width:auto;
	top: 140px;
	position:relative;
    display: inline-block;
}

.marquee-text{
	
	position:absolute;
	top:1px;
	padding-left:2px;
	padding-right:4px;
}

ul {
	width:75px;
	list-style-type:none;
	float:left;
	padding-left:0px;
	padding-right:0px;
	margin-left:18px;
	margin-right:18px;
}

li {
	text-align:left;
	padding-left:3px;
	padding-right:3px;
	height:16px;
	line-height:16px;
}

li:hover {
	background-color:#eeeeee;
}

a {
	text-decoration:none;
	font-size:16px;
	height:12px;
	line-height:12px;
	color:#000000;
}

a:hover {
	text-decoration:underline;
}

.clink {
	font-family: haxrcorp, sans-serif;
	font-size: 12px;
	text-decoration:none;
	line-height: 16px;
	color:#000000;
}

.clink:hover{
	text-decoration:underline;
}

